/* Navbar container styling */
.navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: -10px;
    margin-bottom: -2px;
}

/* Individual link styling */
ul li {
    margin: 20px;
}