<header>Decks</header>


<div>
    <p class="search">Create a new deck:</p>
    <!-- Form to submit a new card -->
    <form (ngSubmit)="addDeck()">
        <input [(ngModel)]="deckData.name" name="name" placeholder="Deck Name">
        <button type="submit">Submit</button>
    </form>
</div>


<div>
    <ul>
        <li *ngFor="let d of pagedDecks">
            <div>
                <p>Name: {{d.name}}</p>
                <button (click)="deleteDeck(d)">Delete</button>
            </div>
        </li>
    </ul>
</div>

<div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{currentPage}} of {{getTotalPages()}}</span>
    <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
</div>