<header>Cards in Deck: </header>

<div>
    <!-- Form to add a card to the deck -->
    <p class="search">Add a card to the deck by name to see its price and image:</p>
    <form (ngSubmit)="addCardToDeck(cardData.name)">
        <input [(ngModel)]="cardData.name" name="name" placeholder="Card Name">
        <button type="submit">Submit</button>
    </form>
</div>


<div>
    <ul>
        <!-- List of cards in the deck -->
        <li *ngFor="let card of cards">
            <div>
                <!-- Display card image, name, and price -->
                <img [src]="card.image_url">
                <p>{{card.name}}</p>
                <p>{{card.price}}</p>
            </div>
        </li>
    </ul>
</div>


<div class="pagination">
    <!-- Pagination controls -->
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{currentPage}} of {{getTotalPages()}}</span>
    <button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
</div>